<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Complete Checkout - PayPal Button Full Page Redirect Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Checkout Completed!</h1>
  <p>PayPal Button Full Page Redirect Example</p>
  <pre>
    <%= JSON.stringify(orderDetails, null, 4) %>
  </pre>
</body>
</html>