<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Order Creation Failed - PayPal Button Full Page Redirect Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <h1>Order Creation Failed</h1>
  <p>PayPal Button Full Page Redirect Example</p>
  <pre>
    <%= JSON.stringify(errorDetails, null, 4) %>
  </pre>
</body>
</html>
